RewriteEngine On

RewriteCond %{REQUEST_URI} ^/(wp-admin|wp-content|wp-includes)(/.*)?$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/wp-login\.php$ [NC,OR]
RewriteCond %{REQUEST_URI} ^/xmlrpc\.php$ [NC]
RewriteRule ^ - [G,L]

RewriteCond %{HTTPS} off [OR]
RewriteCond %{HTTP_HOST} ^www\.southvoyage\.com$ [NC]
RewriteRule ^ https://southvoyage.com%{REQUEST_URI} [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} .+/$
RewriteRule ^(.+)/$ https://southvoyage.com/$1 [L,R=301]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.html [L]
